.question {
  display: flex;
  justify-content: space-around;
  width: 940px;
  margin: 10px auto;
}

h1 {
  text-align: center;
}

.option {
  border: 1px solid #666;
  padding: 5px;
}

.prompt {
  padding: 5px;
  display: flex;
  width: 60%;
  justify-content: space-around;
}